body {
    margin: 0;
    padding: 0;
    font-family: Hanken Grotesk, sans-serif;
    background-color: var(--ivoire);
    color: var(--noir-bleuté);
}

.introduction {
    padding: 0rem 1.5rem;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.title {
    font-family: 'Crimson Text', sans-serif;
    font-size: var(--Font-Size-50, 50px);
    font-weight: var(--Font-Weight-regular, 400);
    color: var(--noir-bleuté);
    margin: 0;
}

.subtitle {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: var(--Font-Size-20, 20px);
    font-weight: var(--Font-Weight-bold, 700);
    color: var(--or-foncé);
    margin: 0;
}

.description {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--Font-Size-15, 15px);
    font-weight: 400;
    color: var(--noir-bleuté);
    line-height: var(--Line-Height-20, 20px);
    margin: 0;
}

.section-separator {
    font-family: 'Crimson Text', serif;
    font-size: 2.5rem;
    color: rgba(233, 196, 106, 0.50);
    padding-left: 2rem;
    text-align: center;
    letter-spacing: 40px;
}


.discover {
    padding: 0rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.section-title {
    font-family: 'Crimson Text', serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--noir-bleuté);
    margin: 0;
    border: 3px solid var(--noir-bleuté);
    padding: 1rem 4rem;
}

.content {
    background-color: var(--noir-bleuté);
    background-image: url('/assets/img/fond.avif');
    background-size: 150%;
    background-position: top;
    background-repeat: no-repeat;

    padding: 4rem 2rem;
    text-align: center;
    color: var(--or-foncé);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    color: var(--or-pâle);
    letter-spacing: 0rem;
}

.content-description {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    max-width: 700px;
    line-height: var(--Line-Height-20, 20px);
    margin: 0;
    color: var(--or-pâle);
}

.information {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Crimson Text', serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--or-pâle);
    text-decoration: none;
    border: 2px solid var(--or-pâle);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.other-articles {
    padding: 1rem 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Crimson Text', sans-serif;
}

.other-articles hr {
    border: none;
    border-top: 2px solid var(--or-pâle);
    margin: 0;
}

.other-articles-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--noir-bleuté);
    margin: 0;
    letter-spacing: 0rem;
}