.footer {
    background-color: var(--or-pâle);
    color: var(--noir);
    padding: 1.5rem;
    padding-top: 0.5rem;
    margin-top: 5rem;
    font-family: 'Crimson Text', sans-serif;;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--noir-bleuté);
    font-family: 'Crimson Text', serif;
    font-size: 1.75rem;
    font-weight: 500;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--noir-bleuté);
    font-family: 'Crimson Text', serif;
    font-size: 1.75rem;
    font-weight: 500;
}

.footer-logo p {
    margin-top: 40px;
}

.footer-logo img {
    width: 40px;
    height: auto;
}

.footer-nav {
    min-width: 200px;
    width: 100%;
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.footer-nav-title {
    font-weight: 400;
    color: var(--noir-bleuté);
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-family: "Hanken Grotesk", sans-serif;
}

.footer-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--noir);
    text-transform: uppercase;
}

.footer-nav-link {
    display: block;
    text-decoration: none;
    color: var(--noir);
    margin-bottom: 0.4rem;
    font-size: 0.95rem;
    transition: color 0.2s ease;
}

.footer-nav-link:hover {
    color: var(--accent);
}

.footer-social {
    margin-bottom: 2rem;
}

.social-title {
    font-weight: 400;
    color: var(--noir-bleuté);
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-family: "Hanken Grotesk", sans-serif;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.social-links a img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

.social-links a:hover img {
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    font-size: 0.6rem;
    color: var(--noir);
}

.footer-bottom hr {
    border: none;
    border-top: 1px solid var(--noir);
    margin-bottom: 1rem;
}
