.cta-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--or-pâle);
    border: 1px solid var(--noir-bleuté);
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
    font-family: 'Crimson Text', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--noir-bleuté);
    text-decoration: none;
    box-shadow: 2px 2px 0 var(--noir-bleuté);
    transition: transform 0.2s ease;
}

.cta-button:hover {
    transform: translateY(-2px);
}

.cta-button img {
    width: 20px;
    height: 20px;
}

.information {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--or-pâle);
    border: 1px solid var(--noir-bleuté);
    padding: 0.75rem 1.25rem;
    border-radius: 6px;
    font-family: 'Crimson Text', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--noir-bleuté);
    text-decoration: none;
    box-shadow: 2px 2px 0 var(--noir-bleuté);
    transition: transform 0.2s ease;
}

.information:hover {
    transform: translateY(-2px);
}

.information img {
    width: 13px;
    height: 13px;
}

.other-articles-button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0rem;
    border: 2px solid var(--vert-céladon);
    padding: 0.75rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--noir-bleuté);
    text-decoration: none;
    max-width: 100%;
}

.other-articles-button img {
    width: 16px;
    height: 16px;
    transition: transform 0.2s ease;
}

.other-articles-button:hover img {
    transform: translateX(4px);
}



