.hero {
    position: relative;
    background-image: url("/assets/img/fond.avif");
    background-position: center;
    background-size: 120%;
    min-height: 280px;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero.has-button .mileva{
    padding-top: 5rem;
}


.hero-button {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    background-color: var(--or-pâle);
    border: 1px solid var(--noir-bleuté);
    padding: 0.6rem 1rem;
    border-radius: 6px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1rem;
    color: var(--noir-bleuté);
    text-decoration: none;
    font-weight: 500;
    box-shadow: 2px 2px 0 var(--noir-bleuté);
    transition: transform 0.2s ease;
    z-index: 2;
}

.hero-button:hover {
    transform: translateY(-2px);
}

.hero-button img {
    width: 20px;
    height: 20px;
}

.mileva {
    width: 220px;
    height: 220px;
    object-fit: cover;
}
