.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    padding-top: 1.2rem;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--noir);
    transition: transform 0.3s ease, opacity 0.2s ease;
}

.menu-toggle[aria-expanded="true"] span:first-child {
  transform: rotate(45deg) translate(2px, 0px);
}

.menu-toggle[aria-expanded="true"] span:nth-child(2) {
    opacity: 0;
}

.menu-toggle[aria-expanded="true"] span:last-child {
  transform: rotate(-45deg) translate(9px, -8px);
}

.nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: var(--or-pâle);
    padding: 2rem 3rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
}

.nav hr {
    border: none;
    height: 3px;
    background-color: var(--vert-céladon);
    opacity: 0.6; /* léger effet doux */
    margin: 0.1rem 0;
}

.nav.active {
    display: block;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-link {
    text-decoration: none;
    color: var(--noir-bleuté);
    font-size: 1.25rem;
    font-weight: var(--Font-Weight-bold, 700);
    font-family: 'Cormorant Garamond', sans-serif;
}
